In [6]:
import pandas as pd
import numpy as np
exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data)
print(df.head(3))
print('-----------------------------------')
df.dropna(subset = ['score'], inplace=True)
print(df)
print('-----------------------------------')
print(df[['name','score']])
print('-----------------------------------')
df.drop('attempts', axis=1, inplace=True)
print(df)
print('-----------------------------------')
new_col={
    'success':[]}
l=[]
for i in exam_data['score']:
    if i>10:
        l.append('1')
    else:
        l.append('0')
new_col['success']=l
dn = pd.DataFrame(new_col)
df=pd.concat([df,dn], axis=1)
df.dropna(subset = ['score'], inplace=True)
print(df)
df.to_csv('')

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
-----------------------------------
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes
-----------------------------------
        name  score
0  Anastasia   12.5
1       Dima    9.0
2  Katherine   16.5
4      Emily    9.0
5    Michael   20.0
6    Matthew   14.5
8      Kevin    8.0
9      Jonas   19.0
-----------------------------------
        name  score qualify
0  Anastasia   12.5     yes
1       Dima    9.0      no
2  Katherine   16.5     yes
4      Emily    9.0      no
5    Michael   20.0     yes
6    Matthew   14.5     yes
8      Kevin    8.0      no
9      Jonas   19.0     yes
-----------------------------------
        name  score qualify success
0  Anastasia   12.5     yes       1
1       Dima    9.0      no       0
2  Katherine   16.5     yes       1
4      Emily    9.0      no       0
5    Michael   20.0     yes       1
6    Matthew   14.5     yes       1
8      Kevin    8.0      no       0
9      Jonas   19.0     yes       1